/* GLOBALS */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');

html{
  margin:0;
  padding:0;
}

body{
  margin:0;
  padding:0;
  font-family: roboto;
  text-decoration: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.App{
  text-align: center;
}

.button1{
  background-color: #4682b4;
  border-radius: 20px;
  padding: 10px 40px;
  box-shadow: 1px 1px 5px .5px #999999;
  color: white;
  border: 0px;
  font-size: 13pt;
  margin: 20px auto;
  text-decoration: none;
  font-weight: 300;
  max-width: 200px;
}

.buttonAbs{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #4682b4;
  box-shadow: 1px 1px 20px -2px #888;
  color: white;
  font-size: 50pt;
  font-weight: 300;
}

.button1:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px 30px 2px #BBBBBB;
  cursor: pointer;
}

.button1:active{
  transform: scale(1.02);
  box-shadow: 0px 0px 0px 0px;
}

.backButton{
  height: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.7;
}

/* HEADBAR CLASSES */

.headbarContainer{
  background-color: #dddddd;
  width: 100vw;
  height: 60px;
  box-shadow: 1px 1px 10px -3px #999999;
  text-align: center;
  position: fixed;
}

.headbarLogo{
  height: 50px;
  padding: 4px;
}

.headbarMenu{
  height: 35px;
  position: absolute;
  top: 11px;
  right: 15px;
  opacity: 0.7;
  z-index: 999;
}





/* SIDEBAR CLASSES */


.sidebarLink{
  display:block;
  padding: 20px;
  text-decoration: none;
  font-size: 24pt;
  font-weight: 200;
  color: #666;
}







/* HOME CLASSES */

.homeContainer{
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  max-width: 800px;
  position: relative;
}

.homeTitle{
  width: 100%;
  font-size: 60pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
  text-align: left;
  margin-top: 100px;
}

.homeSubtitle{
  font-size: 14pt;
  font-weight: 200;
  color: #444444;
  padding: 140px 20px 60px 20px;
  line-height: 1.4;
  text-align: right;
}

.homeImg{
  height: 150px;
  position: absolute;
  top: 270px;
  left: 20px;
}







/* ELECTIONS CLASSES */

.electionsContainer{
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  max-width: 800px;

}

.electionsTitle{
  width: 100%;
  font-size: 24pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
  text-align: left;
  margin: 20px 0px;
  padding-top: 60px;
}

.electionsListContainer{
  overflow: scroll;
  text-align: center;
}

.electionsListElement{
  background-color: #9bc5e8;
  border-radius: 20px;
  padding: 10px 18px 10px 30px;
  box-shadow: 1px 1px 5px .5px #999999;
  color: white;
  border: 0px;
  font-size: 14pt;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 5px;
  text-align: left;
}

.electionDetailsImg{
  height: 30px;
  opacity: .5;
  position: absolute;
  top: 75px;
  right: 15px;
}

.electionsDescription{
  font-size: 14pt;
  color: #555555;
  font-weight: 200;
  margin-left: 20px;
}

.electionsInput{
  width: 80%;
  text-align: left;
  font-size: 14pt;
  color: #222222;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 10px 30px 10px;
  border: 0px;
  box-shadow: 1px 1px 5px 1px #bbbbbb;
  max-width: 500px;
}












/* ELECTION CLASSES */


.candidateOuterContainer{
  width: 100%;
  display: inline-block;
  text-align: center;
}

.candidateInnerContainer{
  width: 40%;
  display: inline-block;
  margin: 0px 10px 20px 10px;
  text-align: center;
  vertical-align: top;
  box-shadow: 1px 1px 20px -5px #999;
  border-radius: 10px;
  padding: 5px;
}

.candidateInnerContainerSelected{
  background-color: #9bc5e8;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -8px #777777;
}

.candidateImg{
  object-fit: cover;
  width:120px;
  height:120px;
  border-radius: 50%;
  padding-bottom: 5px;
}

.candidateName{
  font-size: 14pt;
  font-weight: 300;
  color: #333333;
}

.candidateInfo{
  font-size: 10pt;
  font-weight: 300;
  color: #999;
}

.candidateParty{
  font-size: 10pt;
  font-weight: 600;
  color: #777777;
}

.candidateHandle{
  font-size: 10pt;
  font-weight: 600;
  color: #4682b4;
  padding-bottom: 10px;
  text-decoration: underline;
  text-transform: lowercase;
}

.selectedCandidateContainer{
  border-radius: 20px;
  box-shadow: 1px 1px 30px -8px #777777;
  padding: 15px;
}

.selectedCandidateText{
  width: 100%;
  font-size: 16pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
  text-align: left;
}

.selectedCandidateName{
  width: 100%;
  font-size: 18pt;
  font-weight: 700;
  color: #4682b4;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: underline;
}

.selectedCandidateKeywords{
  width: 100%;
  font-size: 12pt;
  font-weight: 600;
  color: #666666;
  text-align: left;
  margin: 5px 0px;
}









/* THANK YOU CLASSES */

.thankYouImg{
  height: 130px;
  display: inline-block;
}

.thankYouSubtitle{
  display: inline-block;
  width: 150px;
  margin:15px 0px;
  font-size:24pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #4682b4;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}


.contentMainHeader{
  color: #4682b4;
  font-size: 36pt;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.1;
  padding-bottom: 20px;
}
