/* GLOBALS */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');

html{
  margin:0;
  padding:0;
}

body{
  margin:0;
  padding:0;
  font-family: roboto;
  text-decoration: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.button1{
  background-color: #4682b4;
  border-radius: 20px;
  padding: 10px 40px;
  box-shadow: 1px 1px 5px .5px #999999;
  color: white;
  border: 0px;
  font-size: 13pt;
  margin: 20px 40px;
  text-decoration: none;
  font-weight: 300;
}

.backButton{
  height: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.7;
}

/* HEADBAR CLASSES */

.headbarContainer{
  background-color: #dddddd;
  width: 100vw;
  height: 60px;
  box-shadow: 1px 1px 10px -3px #999999;
  text-align: center;
}

.headbarLogo{
  height: 50px;
  padding: 4px;
}

.headbarMenu{
  height: 35px;
  position: absolute;
  top: 11px;
  right: 15px;
  opacity: 0.7;
  z-index: 999;
}





/* SIDEBAR CLASSES */










/* HOME CLASSES */

.homeContainer{
  margin: 0px 10px;
  padding: 10px;
  text-align: center;
}

.homeTitle{
  width: 100%;
  font-size: 60pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
  text-align: left;
  margin-top: 40px;
}

.homeSubtitle{
  font-size: 14pt;
  font-weight: 200;
  color: #444444;
  padding: 140px 20px 60px 20px;
  line-height: 1.4;
  text-align: right;
}

.homeImg{
  height: 150px;
  position: absolute;
  top: 270px;
  left: 20px;
}







/* ELECTIONS CLASSES */

.electionsContainer{
  margin: 0px 10px;
  padding: 10px;
  text-align: center;
}

.electionsTitle{
  width: 100%;
  font-size: 42pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
  text-align: left;
  margin: 20px 0px;
}

.electionsListContainer{
  text-align: left;
}

.electionsListElement{
  background-color: #9bc5e8;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 1px 1px 5px .5px #999999;
  color: white;
  border: 0px;
  margin: 12px 0px;
  font-size: 14pt;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.electionsDescription{
  text-align: left;
  font-size: 14pt;
  color: #555555;
  font-weight: 200;
  margin-left: 20px;
}

.electionsInput{
  width: 80%;
  text-align: left;
  font-size: 14pt;
  color: #222222;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 10px 30px 10px;
  border: 0px;
  box-shadow: 1px 1px 5px 1px #bbbbbb;
}












/* ELECTION CLASSES */


.candidateOuterContainer{
  width: 100%;
  display: inline-block;
  text-align: center;
}

.candidateInnerContainer{
  width: 40%;
  display: inline-block;
  margin: 0px 10px 20px 10px;
  text-align: center;
}

.candidateInnerContainerSelected{
  background-color: #9bc5e8;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -8px #777777;
}

.candidateImg{
  object-fit: cover;
  width:120px;
  height:120px;
  border-radius: 50%;
  margin: 10px
}

.candidateName{
  font-size: 18pt;
  font-weight: 300;
  color: #333333;
}

.candidateParty{
  font-size: 10pt;
  font-weight: 600;
  color: #777777;
  padding-bottom: 20px;
}

.selectedCandidateContainer{
  border-radius: 20px;
  box-shadow: 1px 1px 30px -8px #777777;
  padding: 15px;
}

.selectedCandidateText{
  width: 100%;
  font-size: 16pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
  text-align: left;
}

.selectedCandidateName{
  width: 100%;
  font-size: 28pt;
  font-weight: 700;
  color: #666666;
  text-align: left;
  margin-bottom: 10px;
}

.selectedCandidateKeywords{
  width: 100%;
  font-size: 12pt;
  font-weight: 600;
  color: #666666;
  text-align: left;
  margin: 5px 0px;
}









/* THANK YOU CLASSES */

.thankYouImg{
  height: 130px;
  display: inline-block;
}

.thankYouSubtitle{
  display: inline-block;
  width: 150px;
  margin:15px 0px;
  font-size:24pt;
  font-weight: 200;
  color: #666666;
  line-height: .9;
}
